.results_one{
    display:  inline;
}

.process_one_container{
    display:  flex;
    flex-direction:  column;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
}

.spickersContainer{
    display: flex;
    height: 155px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.spescker{
    height: 100%;
}

.soundWave{
    height: 70%;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.times{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 13px;
    margin: unset;
    text-align: center;
}

#bars {
    height: 30px;
    position: relative;
    width: 100%;
    display: flex;
}

.bar {
    height: 3px;
    width: 10%;      
    animation: sound 0ms -800ms linear infinite alternate;
}

h1{
    text-align: center;
    width: 100%;
}

button, input{
    width: 20%;
    margin: 10px;
    height: 40px;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 398ms; }
.bar:nth-child(10)  { left: 37px; animation-duration: 422ms; }
.bar:nth-child(11)  { left: 41px; animation-duration: 433ms; }
.bar:nth-child(12)  { left: 45px; animation-duration: 412ms; }
.bar:nth-child(13)  { left: 48px; animation-duration: 499ms; }
.bar:nth-child(14)  { left: 52px; animation-duration: 487ms; }
