<h1>Speaker diarization</h1>
<div class="process_one_container">
  <input type="file" name='file' (change)="onFileSelected($event.target)" multiple/>
  <img *ngIf="showLoader" src="../assets/loading.gif" alt="" />
  <!-- <button (click)="startPreprocess()">pre process</button> -->

  <button (click)="startProcess()">first process</button>
  <button (click)="startSecondProcess()">second process</button>
  <div class="spickersContainer">
    <div *ngFor="let speacker of speackers; let i = index" class="spescker">
      <div class="soundWave">
        <div id="bars">
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
          <div
            [ngStyle]="{ 'background-color': colors[speacker['cluster']] }"
            class="bar"
          ></div>
        </div>
      </div>
      <p *ngIf = "speacker[0]" [ngStyle]="{ color: colors[speacker['cluster']] }">
        specker{{ speacker["cluster"] }}
      </p>
    </div>
    <h1 *ngIf = "speackers[0]">Number of speackers {{ speackers[0]["clusters"] }}</h1>
  </div>
</div>
