<h1>Speaker diarization</h1>
<div class="process_one_container">
    <input type="file" (change)="onFileSelected($event.target)">
    <img *ngIf="showLoader" src="../assets/loading.gif" alt="">
    <button (click)="startProcess()">first process</button>
    <button (click)="startSecondProcess()">second process</button>

    <!-- <div *ngIf="showResults" class="results_one"><a target="_self" href="../assets/file_example_XLS_10.xls">Link1</a></div>
    <button  *ngIf="showResults" (click)="startProcess()">second process</button>
    <div *ngIf="showResults2" class="results_one"><a target="_self" href="../assets/file_example_XLS_10.xls">Link2</a></div>     -->
</div>
